<div class="container header">
  <form class="search" method="get" action="/">
    <img src="icons/magnify.svg" alt="magnify icons" />
    <input type="text" placeholder="Search for a country..." name="name" />
  </form>

  <div class="filter">
    <p>Filter by Region</p>
    <img src="icons/chevron.svg" alt="chevron icon" />
  </div>
</div>
